body {
  font-family: 'Inconsolata', 'Menlo', 'Monaco', 'Consolas', 'Lucida Console', monospace, 'xkcd';
  font-size: 13px;
  background: #fff;
  color: #000;
  max-width: 76ex;
  margin: 1em auto 3em auto;
}
body.hidden {
  opacity: 0;
}
@media (max-width: 76ex) {
  body {
    padding: 0 1em;
  }
}

h1 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: .2em;
  padding-right: .2em;
  position: relative;
  font-size: 2em;
}
h1::before,
h1::after {
  content: '';
  background: currentColor;
  position: relative;
  display: inline-block;
  width: 1.5em;
  height: .05em;
  border-radius: .05em;
  vertical-align: 20%;
  margin: 0 .5em;
}

@media (max-width: 54ex) {
  h1::before,
  h1::after {
    display: none;
  }
}
@media (max-width: 37ex) {
  h1 .title-pre {
    display: none;
  }
}

a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: color 0.3s, text-shadow 0.3s;
  text-shadow: 0 0 0 transparent;
}
@media (hover: hover) {
  a:hover, #repos > li h3 a:hover {
    color: #f54784;
    text-shadow: 0 1px 0 #c52754;
  }
}

#repos {
  list-style-type: none;
  padding-left: 1em;
}
#repos > li {
  padding: 1em 0;
}
#repos > li h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}
#repos > li h3 a {
  color: inherit;
}
#repos > li p:first-of-type {
  margin-top: 0;
}
#repos > li p:last-of-type {
  margin-bottom: 0;
}

.animated-character {
  display: inline-block;
}
