body {
	font-family: 'Fira Code', 'Menlo', 'Monaco', 'Consolas', 'Lucida Console', monospace, 'xkcd';
	font-size: 13px;
	background: #000;
	color: #fff;
	max-width: 30em;
	margin: 1em auto;
}

h1 {
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: .2em;
	padding-right: .2em;
	position: relative;
	font-size: 2em;
}
h1::before,
h1::after {
	content: '';
	background: currentColor;
	position: relative;
	display: inline-block;
	width: 1.5em;
	height: .05em;
	border-radius: .05em;
	vertical-align: 20%;
	margin: 0 .5em;
}